# VacationPy
---

## Starter Code to Import Libraries and Load the Weather and Coordinates Data

In [9]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np
import requests
import gmaps
import os
import json
import time

In [10]:
from api_keys import geoapify_api_key
from api_keys import gmap_api_key

In [11]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
weather_data = Path("/Users/archanakale/Desktop/python-api-challenge/output_data/cities.csv")
weather_data_df = pd.read_csv(weather_data)
weather_data_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,hawaiian paradise park,19.5933,-154.9731,71.80,82,91,11.43,US,1713773119
1,1,adamstown,-25.0660,-130.1015,72.18,74,89,27.69,PN,1713773119
2,2,hechuan,29.9947,106.2572,65.89,86,100,3.65,CN,1713773120
3,3,blackmans bay,-43.0167,147.3167,58.35,72,100,1.05,AU,1713773120
4,4,hamilton,39.1834,-84.5333,39.13,68,0,2.19,US,1713773121
...,...,...,...,...,...,...,...,...,...,...
548,548,shiqian,27.5225,108.2281,61.30,97,100,2.75,CN,1713773387
549,549,novodvinsk,64.4165,40.8122,29.53,84,100,10.65,RU,1713773387
550,550,kopervik,59.2835,5.3067,41.70,67,100,5.57,NO,1713773388
551,551,kodinsk,58.6881,99.1844,36.18,82,100,8.46,RU,1713773388
552,552,tuban,-6.8976,112.0649,82.53,80,100,2.84,ID,1713773389

In [12]:
# Drop first column
weather_data_df = weather_data_df.drop(columns=['Unnamed: 0'])

# drop any rows with missing data
weather_data_df.dropna(axis=0, how='any', inplace=True)
weather_data_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,hawaiian paradise park,19.5933,-154.9731,71.80,82,91,11.43,US,1713773119
1,adamstown,-25.0660,-130.1015,72.18,74,89,27.69,PN,1713773119
2,hechuan,29.9947,106.2572,65.89,86,100,3.65,CN,1713773120
3,blackmans bay,-43.0167,147.3167,58.35,72,100,1.05,AU,1713773120
4,hamilton,39.1834,-84.5333,39.13,68,0,2.19,US,1713773121
...,...,...,...,...,...,...,...,...,...
548,shiqian,27.5225,108.2281,61.30,97,100,2.75,CN,1713773387
549,novodvinsk,64.4165,40.8122,29.53,84,100,10.65,RU,1713773387
550,kopervik,59.2835,5.3067,41.70,67,100,5.57,NO,1713773388
551,kodinsk,58.6881,99.1844,36.18,82,100,8.46,RU,1713773388
552,tuban,-6.8976,112.0649,82.53,80,100,2.84,ID,1713773389

---

### Step 1: Create a map that displays a point for every city in the `city_data_df` DataFrame. The size of the point should be the humidity in each city.

In [13]:
# create a map that display a marker for each city in the dataset of weather_data_df
import gmaps
import gmaps.datasets
gmaps.configure(api_key=gmap_api_key
)

gmaps.configure(api_key=gmap_api_key)
locations = weather_data_df[["Lat", "Lng"]]
weights = weather_data_df["Humidity"]
fig = gmaps.figure(layout={'width': '1000px', 'height': '600px'})
heat_layer = gmaps.heatmap_layer(locations, weights=weights, dissipating=False, max_intensity=100, point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='600px', width='1000px'))

### Step 2: Narrow down the `city_data_df` DataFrame to find your ideal weather condition

In [14]:
# Narrow down cities that fit criteria and drop any results with null values
# Create a new DataFrame fitting weather criteria
# Narrow down the cities to fit weather conditions.
# Drop any rows will null values.
# Display sample data

clear_df = weather_data_df[(weather_data_df['Max Temp'] > 70) 
                  & (weather_data_df['Max Temp'] < 80) 
                  & (weather_data_df['Wind Speed'] < 10) 
                  & (weather_data_df['Cloudiness'] == 0)]


clear_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
103,acapulco de juarez,16.8634,-99.8901,72.14,65,0,3.11,MX,1713773170
109,gwanda,-20.9333,29.0000,79.48,26,0,6.20,ZW,1713773173
171,vila velha,-20.3297,-40.2925,71.29,73,0,4.07,BR,1713773202
257,tolanaro,-25.0319,46.9987,77.99,66,0,3.85,MG,1713773246
265,kingston,17.9970,-76.7936,72.91,89,0,3.20,JM,1713773249
315,bull savanna,17.8868,-77.5902,73.74,84,0,6.46,JM,1713773274
432,urumqi,43.8010,87.6005,73.71,14,0,8.95,CN,1713773330
445,charters towers,-20.1000,146.2667,74.12,46,0,5.19,AU,1713773245
521,las veredas,23.1388,-109.7075,77.23,36,0,4.54,MX,1713773373
535,menongue,-14.6585,17.6910,76.98,42,0,7.38,AO,1713773381
538,san luis de la loma,17.2706,-100.8939,74.93,63,0,1.95,MX,1713773382

### Step 3: Create a new DataFrame called `hotel_df`.

In [15]:
# Use the Pandas copy function to create DataFrame called hotel_df to store the city, country, coordinates, and humidity
# Add an empty column, "Hotel Name," to the DataFrame so you can store the hotel found using the Geoapify API
# Display sample data

hotel_df = clear_df.copy()
hotel_df['Hotel Name'] = ""
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
103,acapulco de juarez,16.8634,-99.8901,72.14,65,0,3.11,MX,1713773170,
109,gwanda,-20.9333,29.0000,79.48,26,0,6.20,ZW,1713773173,
171,vila velha,-20.3297,-40.2925,71.29,73,0,4.07,BR,1713773202,
257,tolanaro,-25.0319,46.9987,77.99,66,0,3.85,MG,1713773246,
265,kingston,17.9970,-76.7936,72.91,89,0,3.20,JM,1713773249,
315,bull savanna,17.8868,-77.5902,73.74,84,0,6.46,JM,1713773274,
432,urumqi,43.8010,87.6005,73.71,14,0,8.95,CN,1713773330,
445,charters towers,-20.1000,146.2667,74.12,46,0,5.19,AU,1713773245,
521,las veredas,23.1388,-109.7075,77.23,36,0,4.54,MX,1713773373,
535,menongue,-14.6585,17.6910,76.98,42,0,7.38,AO,1713773381,
538,san luis de la loma,17.2706,-100.8939,74.93,63,0,1.95,MX,1713773382,

### Step 4: For each city, use the Geoapify API to find the first hotel located within 10,000 metres of your coordinates.

In [16]:
# set parameters to search for hotels with 5000 meters
# Hit the Google Places API for each city's coordinates
# Store the first Hotel result into the DataFrame
# Plot markers on top of the heatmap


for index, row in hotel_df.iterrows():
    target_coordinates = f"{row['Lat']}, {row['Lng']}"
    target_radius = 10000
    target_type = "lodging"

    # set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "radius": target_radius,
        "type": target_type,
        "key": gmap_api_key
    }

    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    print(f"Retrieving results for: {row['City'].title()}, {row['Country']}")
    
    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    # print the response url, avoid doing for public github repos in order to avoid exposing key
    #print(response.url)

    # convert response to json
    hotel_data = response.json()
    #pprint(hotel_data)
    
    # extract results
    results = hotel_data['results']
          
    try:
          hotel_name = results[0]['name']
          print(f"Closest hotel is {results[0]['name']}.")
          hotel_df.loc[index, 'Hotel Name'] = hotel_name
    except Exception as e:
          print(f"Exception: {str(e)} skipping....")
          # put 'NaN' as hotel name, so that we can drop it later
          hotel_df.loc[index, 'Hotel Name'] = np.nan
    print("----------------------")

Retrieving results for: Acapulco De Juarez, MX
Closest hotel is HS Hotsson Smart Acapulco.
----------------------
Retrieving results for: Gwanda, ZW
Closest hotel is Makhado Lodge.
----------------------
Retrieving results for: Vila Velha, BR
Closest hotel is Píer Vitória Hotel.
----------------------
Retrieving results for: Tolanaro, MG
Closest hotel is Anja Guest House.
----------------------
Retrieving results for: Kingston, JM
Closest hotel is The Jamaica Pegasus Hotel.
----------------------
Retrieving results for: Bull Savanna, JM
Closest hotel is Big Red's.
----------------------
Retrieving results for: Urumqi, CN
Closest hotel is Hua Ling Grand Hotel Urumqi.
----------------------
Retrieving results for: Charters Towers, AU
Closest hotel is Cattleman's Rest Motor Inn.
----------------------
Retrieving results for: Las Veredas, MX
Closest hotel is Hotel Aeropuerto.
----------------------
Retrieving results for: Menongue, AO
Closest hotel is Hotel Ritz Lauca.
----------------------
Retrieving results for: San Luis De La Loma, MX
Closest hotel is HOTEL RUIZ.
----------------------

In [17]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
103,acapulco de juarez,16.8634,-99.8901,72.14,65,0,3.11,MX,1713773170,HS Hotsson Smart Acapulco
109,gwanda,-20.9333,29.0000,79.48,26,0,6.20,ZW,1713773173,Makhado Lodge
171,vila velha,-20.3297,-40.2925,71.29,73,0,4.07,BR,1713773202,Píer Vitória Hotel
257,tolanaro,-25.0319,46.9987,77.99,66,0,3.85,MG,1713773246,Anja Guest House
265,kingston,17.9970,-76.7936,72.91,89,0,3.20,JM,1713773249,The Jamaica Pegasus Hotel
315,bull savanna,17.8868,-77.5902,73.74,84,0,6.46,JM,1713773274,Big Red's
432,urumqi,43.8010,87.6005,73.71,14,0,8.95,CN,1713773330,Hua Ling Grand Hotel Urumqi
445,charters towers,-20.1000,146.2667,74.12,46,0,5.19,AU,1713773245,Cattleman's Rest Motor Inn
521,las veredas,23.1388,-109.7075,77.23,36,0,4.54,MX,1713773373,Hotel Aeropuerto
535,menongue,-14.6585,17.6910,76.98,42,0,7.38,AO,1713773381,Hotel Ritz Lauca
538,san luis de la loma,17.2706,-100.8939,74.93,63,0,1.95,MX,1713773382,HOTEL RUIZ

In [18]:
# Display the hotel_df DataFrame with the hotel name
hotel_df.dropna(axis=0, how='any', inplace=True)
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
103,acapulco de juarez,16.8634,-99.8901,72.14,65,0,3.11,MX,1713773170,HS Hotsson Smart Acapulco
109,gwanda,-20.9333,29.0000,79.48,26,0,6.20,ZW,1713773173,Makhado Lodge
171,vila velha,-20.3297,-40.2925,71.29,73,0,4.07,BR,1713773202,Píer Vitória Hotel
257,tolanaro,-25.0319,46.9987,77.99,66,0,3.85,MG,1713773246,Anja Guest House
265,kingston,17.9970,-76.7936,72.91,89,0,3.20,JM,1713773249,The Jamaica Pegasus Hotel
315,bull savanna,17.8868,-77.5902,73.74,84,0,6.46,JM,1713773274,Big Red's
432,urumqi,43.8010,87.6005,73.71,14,0,8.95,CN,1713773330,Hua Ling Grand Hotel Urumqi
445,charters towers,-20.1000,146.2667,74.12,46,0,5.19,AU,1713773245,Cattleman's Rest Motor Inn
521,las veredas,23.1388,-109.7075,77.23,36,0,4.54,MX,1713773373,Hotel Aeropuerto
535,menongue,-14.6585,17.6910,76.98,42,0,7.38,AO,1713773381,Hotel Ritz Lauca
538,san luis de la loma,17.2706,-100.8939,74.93,63,0,1.95,MX,1713773382,HOTEL RUIZ

### Step 5: Add the hotel name and the country as additional information in the hover message for each city in the map.

In [19]:
# add the hotel name to the heatmap as a marker
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
#hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [21]:
import collections
collections.Iterable = collections.abc.Iterable

# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='600px', width='1000px'))